body{
    margin: 0;   
}


.Profile-card{
    width: 350px;
    border-radius: 10px; 
    color: blanchedalmond;
    margin: 50px auto;
}

.Profile-pic{
    width: 75px;
    height: 75px;
    border-radius: 50%; 
    border: solid; 
    display: flex;
    overflow: hidden;
    margin-top: -60px;
    margin-left: 16px;
}

header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    text-align: right;
    line-height: 2px;
    padding: 16px;
}

main{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid blanchedalmond;
    background-color: black;
    padding: 16px;
}

h2{
    font-size: 20px;
}
